body {
  margin: 0;
  overflow: hidden;
  font-family: Arial;
}

#topHud {
  position: fixed;
  top: 0;
  width: 100%;
  background: rgba(0,0,0,0.75);
  color: white;
  padding: 6px;
  text-align: center;
  font-size: 14px;
}

#hud {
  position: fixed;
  top: 60px;
  left: 10px;
  background: rgba(0,0,0,0.65);
  color: white;
  padding: 10px;
  border-radius: 10px;
  width: 150px;
}

button {
  width: 100%;
  margin-top: 4px;
}
